body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url(999.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: absolute;
    
    top: 20px;
    left: 900px;

    
   
}

.signup{
    width: 300px;
    background: rgba(227, 233, 229, 0.932);
    padding: 10px;
    margin: 8% auto 0;
    text-align: center;
    border-radius: 15px;
    

}
.signup h1{
    color: rgb(13, 13, 15);
    margin-bottom: 30px;
    
}
.input-box{
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    width: 200px;
    border: 1px;
    outline: none;
    
    
}
.c{
    color: rgb(8, 8, 8);
}
button{
    color: blue;
    
    padding:10px;
    border-radius: 20px;
    font-size: 15px;
    cursor: pointer;
   
}
hr{
    margin-top: 20px;
    width: 80%;
}
.or{
    background: white;
    width: 30px;
    margin: -19px auto 10px;
}
img{
    width: 50px;
    margin-top: -50px;
}